.deepPink {
    color: #FF1493;
    border-color: #FF1493;
}
.pictonBlue {
    color:#45B1E8;
    border-color: #45B1E8;
}
.fuchsia {
    color:#FF00FF;
    border-color: #FF00FF;
}
.darkMagenta {
    color:#8B008B;
    border-color: #8B008B;
}
.limeGreen {
    color:#32CD32;
    border-color: #32CD32;
}